.side-menu {
    float:left;
    width:200px;
    background-color: white;
    height: 800px;
    font-size: 16px;
}

.side-menu li {
    padding-top:20px;
}

.main-body {
    float:left;
    padding:0;
}

.w1000 {
    width: 1000px;
    float:left;
}

.w720 {
    width: 720px;
    float:left;
}

.w500 {
    width: 500px;
    float:left;

}

.w66p{
    width: 67%;
}


.w33p {
    width: 33%;
    border-left:1px solid gainsboro;
    height: 280px;

}

.dashlet {
    background-color: white;
    overflow: hidden;
    margin-left:15px;
    margin-bottom:15px;
    border-radius: 3px;
}

.dashlet .title {
    padding:10px;
}

.dashlet .title h1{
    font-size:14px;
    font-weight: 500;
}

.chartlet {
    border-top:1px solid gainsboro;
    float:left;
}


.full {
    width: 500px;
}

.semi {
    width: 250px;
    border-left: 1px solid gainsboro;
}

.dashlet .chartlet .header  {
    padding:10px; 
}

.dashlet .chartlet .header h1{
    font-size:13px;
    float:left;
}

.dashlet .chartlet .header p  {
    font-size:12px;
    color: gray;
    text-align: right;
    font-style: italic;
}

.full .header h1 {
    width: 66%;
}

.semi .header h1 {
    width: 100%;
}

.full .header p{
    float:left;
    width:33%;
    text-align: right;
}

.chart-time-series {
padding-left:5px;
margin-right: 10px;
}

.semi .chart {
    padding-left:5px;
    padding-right:5px;
}

.kpi{
    text-align: center;
 }

 .kpi h1 {
    font-size: 30px;
    font-weight: 600;
    position:relative;
    top:-30px;
    height: 0px;
 }
